body {
  font-family: "Otomanopee One", sans-serif;
  margin: 0%;
}
h1 {
  font-size: 45px;
}
h2 {
  font-size: 33px;
}
.color-orange {
  color: orange;
}
.flex-container {
  display: flex;
  margin-bottom: 100px;
}
.half-width {
  width: 50%;
  padding-left: 6%;
}
.half-width img {
  width: 75%;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 30px;
  color: aliceblue;
  border-radius: 6px;
}
.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.dream-big {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.experience-dev {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 15px;
  box-shadow: 10px 10px 40px rgb(45, 48, 48);
}
.experience-area {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
#full-stack {
  border-left: 7px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}
#baby-web {
  border-left: 7px solid;
  border-image: linear-gradient(orange, tomato);
  border-image-slice: 1;
}
footer {
  text-align: center;
}
